/* src/components/main/Inicio.css */
.inicio-container {
    background-image: url('../../../images/background.jpg'); /* Asegúrate de poner la ruta correcta a tu imagen */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo negro con opacidad */
    padding: 50px;
    border-radius: 10px;
  }
  
  .title {
    color: #fff; /* Texto blanco */
    font-size: 3rem;
  }
  
  .subtitle {
    color: #ccc; /* Texto blanco */
    font-size: 1.5rem;
  }
  
  .btn-warning {
    background-color: #ffc605;
    border-color: #ffc605;
  }
  
  .btn-outline-warning {
    color: #ffc605;
    border-color: #ffc605;
  }
  
  .btn-warning:hover, .btn-outline-warning:hover {
    background-color: #e5b600;
    border-color: #e5b600;
  }
  
/* src/components/main/Planes.css */
.planes-container {
  background-color: #000;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.highlight {
  color: #ffc605;
}

.plan-card {
  background: linear-gradient(#393939, #000);
  border: none;
  border-radius: 10px;
}

.plan-card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan-card .card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.plan-card .card-subtitle {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #ffc605;
}

.plan-card .card-text {
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.btn-outline-warning {
  color: #ffc605;
  border-color: #ffc605;
}

.btn-outline-warning:hover {
  background-color: #ffc605;
  color: #000;
}



/* src/components/main/SobreMi.css */

.sobre-mi-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #000; /* Fondo negro */
  color: #fff; /* Texto blanco */
}

.title-container {
  align-self: flex-start;
  margin-bottom: 15px;
  padding-left: 35px;
  font-size: 1.5rem;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .content-container {
      flex-direction: row;
      align-items: flex-start;
  }
}

.image-container {
  flex: 1;
  padding-right: 20px;
  padding-left: 50px;
}

@media (min-width: 768px) {
  .image-container {
      width: auto;
  }
}

.text-container {
  flex: 2;
  font-size: 1.2rem;
  line-height: 1.5; /* Reducir el espacio entre líneas */
  padding-left: 30px;
  padding-top: 20px;
  font-size: 1.9rem;
  margin-top: 15rem;
}

@media (min-width: 768px) {
  .text-container {
      padding-top: 0;
  }
}

.title {
  color: #fff; /* Color blanco */
}

.highlighted-text {
  color: yellow; /* Color amarillo */
}


/* src/components/main/Razones.jsx */
.razones-container {
  background-color: #000;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 182px 36rem 64px 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.razones-title {
  color: #fff; /* Texto blanco */
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

.highlight {
  color: #ffc605; /* Color amarillo */
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}
.razones-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(#1a1a1a, #000);
  border: none;
  border-radius: 10px;
  padding: 25px 10px; /* Cambiar padding para pantallas pequeñas */
  margin: 20px; /* Cambiar margen para pantallas pequeñas */
}

@media (min-width: 576px) {
  .razones-content {
    padding: 25px 50px;
    margin: 20px 50px;
  }
}

@media (min-width: 768px) {
  .razones-content {
    padding: 25px 100px;
    margin: 30px 100px;
  }
}

.razones-text {
  flex: 1;
  margin-right: 20px;
}

.razones-text ul {
  list-style-type: none;
  padding: 0;
}

.razones-text li {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.razones-text li:before {
  content: "•";
  color: #ffc605;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1rem;
}

.razones-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.razones-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .razones-content {
    flex-direction: row;
  }

  .razones-images {
    flex-direction: column;
    align-items: flex-end;
  }

  .razones-image {
    max-width: 300px;
    margin-bottom: 0;
  }
}

/* Importar fuente */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Contenedor principal */
.testimonios-container {
  background-color: #000;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

/* Título */
.testimonios-container h2 {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  color: #fff;
  text-align: left; /* Mover a la izquierda */
  margin-left: 20px; /* Ajustar margen según sea necesario */
  margin-bottom: 40px;
}
.highlight {
  color: #ffc605;
}

/* Grid de testimonios */
.testimonios-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 20px;
}

/* Testimonio individual */
.testimonio {
  background: linear-gradient(#1a1a1a, #000);
  padding: 57px 39px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  /*margin: 72px 110px;*/ /* aca se ajusta el tamaño de las cartes */
}

/* Usuario */
.usuario {
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Texto de testimonio */
.testimonio p {
  color: #fff;
  font-size: 1rem;
  margin: 0;
}

/* Media queries para pantallas más grandes */
@media (min-width: 576px) {
  .testimonios-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .testimonios-grid {
    grid-template-columns: 1fr 1fr;
  }
}
